{% extends "layout.html" %}
{% block content %}
        <div class="">
            <h2 class="">{{ current_user.username }}</h2>
            <p class="">{{ current_user.email }}</p>
        </div>
        
        <div>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>Change Account Information</legend>
    
                    <div class="csstag">
                        {{ form.username.label(class="csstag") }}
                    
                        {% if form.username.errors %}
                            {{ form.username(class="csstag") }}
                            <div class="csstag">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="csstag") }}
                        {% endif %}
                    </div>
    
                    <div class="csstag">
                        {{ form.email.label(class="csstag") }}
                    
                        {% if form.email.errors %}
                            {{ form.email(class="csstag") }}
                            <div class="csstag">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="csstag") }}
                        {% endif %}
                    </div>
                </fieldset>
    
                <div>
                    {{ form.submit(class="css") }}
                </div>
    
            </form>
        </div>
{% endblock content %}