<!DOCTYPE html>
<html> 
<head>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    {% if title %}
        <title>Factory Berlin • {{ title }}</title>
    {% else %}
        <title>Factory Berlin</title>
    {% endif %}
</head>

<section>
  <div class="head">
      <div class="columns is-marginless heading has-text-weight-bold">
        <div class="column center">
          <a href="{{ url_for("home") }}" class="navbar-item has-text-black">FACTORY BERLIN</a>
          <a href="{{ url_for("rooms") }}" class="navbar-item has-text-black">ROOMS</a>
          {% if current_user.is_authenticated %}
              <a href="{{ url_for("account") }}" class="navbar-item has-text-black">ACCOUNT</a>
              <a href="{{ url_for("logout") }}" class="navbar-item has-text-black">LOG OUT</a>
          {% else %}
              <a href="{{ url_for("login") }}" class="navbar-item has-text-black">LOG IN</a>
              <a href="{{ url_for("register") }}" class="navbar-item has-text-black">REGISTER</a>
          {% endif %}
          </div>
      </div>
  </div>
</section>

<body>
  <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
  </div>
</body>
</html>