<!DOCTYPE html>
<html> 
<head>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    {% if title %}
        <title>Factory Berlin • {{ title }}</title>
    {% else %}
        <title>Factory Berlin</title>
    {% endif %}
</head>

<body>
  <!--<nav>
    <label for="toggle">&#9776;</label>
    <input type="checkbox" id="toggle">
    <div class="menu">
      <a href="{{ url_for("home") }}">Home</a>
      <a href="{{ url_for("rooms") }}">Rooms</a>
      <a href="{{ url_for("about") }}">About Us</a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for("account") }}">Account</a>
        <a href="{{ url_for("logout") }}">Logout</a>
      {% else %}
      <a href="{{ url_for("login") }}">Login</a>
      <a href="{{ url_for("register") }}" class="active" >Register</a>
      {% endif %}
    </div>
  </nav>-->

    <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </div>

</body>
</html>