{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="card" id="form-card">
            <div class="card-content login">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset>
                        <p class="title has-text-centered">Log In</p>

                        <div class="field">
                            {{ form.email.label(class="label") }}
                                <div class="control">
                                {% if form.email.errors %}
                                    {{ form.email(class="input is-danger") }}
                                    <div class="help is-danger">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="input") }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="field">
                            {{ form.password.label(class="label") }}
                                <div class="control">
                                {% if form.password.errors %}
                                    {{ form.password(class="input is-danger") }}
                                    <div class="help is-danger">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="input") }}
                                {% endif %}
                            </div>
                        </div>

                    <div class="field">
                        <div class="control" id="form-button">
                            {{ form.submit(class="button is-primary") }}
                        </div>
                    </div>

                </form>

                <div>
                    <h6 id="form-text">
                        Not a member yet? <a href="{{ url_for("register") }}">Create an account</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}