{% extends "layout.html" %}
{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Log In</legend>

                <div class="csstag">
                    {{ form.email.label(class="csstag") }}
                
                    {% if form.email.errors %}
                        {{ form.email(class="csstag") }}
                        <div class="csstag">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="csstag") }}
                    {% endif %}
                </div>

                <div class="csstag">
                    {{ form.password.label(class="csstag") }}
                
                    {% if form.password.errors %}
                        {{ form.password(class="csstag") }}
                        <div class="csstag">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="csstag") }}
                    {% endif %}
                </div>

                </div>
                <div class="csstag">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>

            </fieldset>

            <div>
                {{ form.submit(class="csstag") }}
            </div>

        </form>
    </div>

    <div>
        <small>
            Don't have an account yet? <a href="{{ url_for("register") }}">Create One Here</a>
        </small>
    </div>
{% endblock content %}