{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="wrapper">
        {% for room in rooms %}
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <h1 class="title has-text-centered room-name">{{ room.name }}</h1>
                        <h4 class="subtitle has-text-centered room-number">{{ room.number }}</h4>
                        <h5>{{ room.capacity }} People</h5>
                        <h5>{{ room.equipment.text }}</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            <button class="button is-primary is-outlined">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}