{% extends "layout.html" %}
{% block content %}
    <div class="wrapper">
        {% for room in rooms %}
            <div class="box">
                <h4 class="room_name">{{ room.name }} • {{ room.number }}</h4>
                <ul class="room_list">
                    <i class="material-icons">watch_later</i><i class="room_clock">Clock</i><br>
                    <i class="material-icons">people_outline</i><i class="room_people">10 People</i><br>
                    <i class="material-icons">cloud</i><i class="room_equipment">{{ room.equipment_id }}</i><br>        
                </ul>
                <button class="room_book">Book</button>
            </div>
        {% endfor %}
    </div>
{% endblock content %}